{
  "watchdir": "/Users/matt.williams/Downloads",
  "destdir": "/Users/matt.williams/Library/Mobile Documents/iCloud~md~obsidian/Documents/ObsidianVault",
  "ytapikey": "{{ (onepasswordItemFields "yinoteapikey").ytapikey.v }}",
  "interval": 500
}
